p{
    font-family: 'Questrial', sans-serif;
    font-weight:100;
}

.resultado__texto{
    color:black;
    padding:38px;
    padding-top: 23px;
    position:relative;
    height:252px;
    margin-bottom: 56px;
    text-align:justify;
}

.texto h1{
    margin:0 auto;
    font-size:2.1rem;
    text-transform:uppercase;
    margin-bottom:13%;
    font-family: "gotham bold";
    font-weight:bolder;
    position:relative;
    color:black;
    display:inline-block;
    text-align: left;
    transform: translate(6px);
}

.texto h1::before{
    content: "";
    width: 99%;
    height: 57%;
    position: absolute;
    transform: rotate(3deg);
    top: -13px;
    left: -14px;
    background-color: white;
    z-index: -3;
}

.texto h1::after{
    content: "";
    width: 108%;
    height: 61%;
    position: absolute;
    transform: rotate(-3deg);
    top: 37px;
    left: -8px;
    background-color: #da728a;
    z-index: -1;
}

.resultado__texto::after{
    content: "";
    position: absolute;
    top: -12%;
    left: 9%;
    width: 78%;
    transform: rotate(-9deg) skew(-9deg, 1deg) translate(14px, 0px);
    height: 117%;
    background-color: #da728a;
    z-index: -2;
}

.resultado__texto::before{
    content: "";
    position: absolute;
    top: -4%;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    transform: skew(-8deg) rotate(-6deg);
    background-color: white;
    z-index: -1;
}

.resultado__texto p{
    font-size:1em;
    font-family: 'gotham light', sans-serif;
    line-height:1.2;

}

.resultado{
    position:relative;
    width:100%;
    height:100%;
    text-align: center;
}

.modelo-img{
    position:relative;
    top:10%;
    left:-2%;
    z-index:-1;
}

.resultado span{
    font-family:"beauty";
    text-transform:none;
    font-size:2em;
    top:7px;
    font-weight:100;
    position:relative;
    display:inline-block;
}

.resultado h3{
    font-size:2em;
    display: inline-block;
    position:absolute;
    font-family:"beauty";
    top:50%;
    left:50%;
    font-weight:100;
}

.form-section{
    text-align: center;
}

.form-section h2{
    font-size:2em;
    position:relative;
    text-transform:uppercase;
    margin-bottom:1.5em;
    display: inline-block;
    background-color:white;
    color:black;
    padding:14px 15px;
    font-family: 'gotham bold', sans-serif;
    font-weight:bolder;
}

.form-section p{
    width:80%;
    line-height:1.2;
    margin:0 auto;
    font-weight:100;
    font-family:"gotham thin", sans-serif;
    text-align:justify;
}

.form-section h2::after{
    content: "";
    position: absolute;
    top: -1%;
    left: 5%;
    transform: rotate(-5deg);
    display: inline-block;
    width: 91%;
    height: 108%;
    background-color: #da728a;
    z-index: -1;

}

.form{
    margin:0 auto;
    margin-top:50px;
    margin-bottom:50px;
    height:287px;
    width: 80%;
    background-color:white;
    position:relative;
}

.form::before{
    content:"";
    background-color:#da728a;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    transform:rotate(-9deg);
}

input[type="text"]{
    width:80%;
    height:30px;
    display:block;
    margin:0 auto;
    border:1px solid black;
    font-size:1.1em;
    padding:5px;
    box-sizing:border-box;
}

input[type="email"]{
    width:80%;
    height:30px;
    display:block;
    margin:0 auto;
    border:1px solid black;
    font-size:1.1em;
    padding:5px;
    box-sizing:border-box;
}

input[type="submit"]{
    margin-top:30px;
    border-color:#da728a;
    height:40px;
    width:60%;
    background-color:#da728a;
    color:white;
    text-transform:uppercase;
    font-size:1em;
}

label{
    color:black;
    text-transform:uppercase;
    display:inline-block;
    margin-top:26px;
    margin-bottom:5px;
    font-family:"gotham bold";
}

.form p{
    margin-top:7px;
    color:black;
    font-size:.65em;
}

.redes-section p{
    text-align:center;
    font-size: 1.05em;
    line-height: 1.3;
    margin-bottom:40px;
}

.redes-section h3{
    font-size:1.4em;
    position:relative;
    text-transform:uppercase;
    margin-bottom:1.5em;
    display: inline-block;
    background-color:white;
    color:black;
    padding:11px 12px;
    font-family: 'gotham bold', sans-serif;
}

.redes-section h3::after{
    content: "";
    position: absolute;
    top: -1%;
    left: 5%;
    transform: rotate(-4deg);
    display: inline-block;
    width: 91%;
    height: 106%;
    background-color: #da728a;
    z-index: -1;
}

.titulo-img{
    position: absolute;
    z-index: 2;
    top: 44%;
    left: 3%;
}

figure{
    display:inline-block;
}

.batom-figure img{
    width: 40%;
    position: relative;
    transform:translate(51px);
}

.batom-figure{
    order:1;
    position:relative;
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-content:space-between;
}

.batom-figure figcaption{
    top: -4%;
    left: 3%;
}

.blush-figure{
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.blush-figure img{
    position: absolute;
    top: 18%;
    width: 125%;
    left: 19%;
}

figcaption h4{
    text-transform:uppercase;
    font-family:"gotham light";
    margin-bottom: -5px;
}

figcaption{
    font-family:"gotham thin";
    font-size:80%;
}

figcaption a{
    text-decoration:none;
    display:inline-block;
    background-color:#db718a;
    color:black;
    padding:5px;
    text-transform:uppercase;
    font-family:"gotham bold";
    margin-top:15px;
}

input:focus{
    outline-color: #db718a;
}

.blush-figure figcaption{
    position: relative;
    top: 33%;
    left: 22%;
}

.batom-figure figcaption{
    position:relative;
}

.produtos__redes{
    display:flex;
    margin-top:10px;
    margin-bottom:50px;
    justify-content: space-around;
}

.img-ousada{
    position: relative;
    top: -1% !important;
    left: -2% !important;
    transform: translateY(19px)  !important;
    z-index: -1;
}

.resultado-ousada{
    height:190px;
}

.titulo-ousada{
    top: 52%;
    left: 4%;
}

.resultado-estilosa{
    height:200px;
}

.titulo-estilosa{
    top: 52%;
    left: 8%;
}
