p{
    font-family: 'Questrial', sans-serif;
    font-weight:100;
}

.resultado__texto{
    color:black;
    padding:38px;
    padding-top:33px;
    position:relative;
    height:252px;
    margin-bottom: 56px;
}

.texto h1{
    font-size:2.1em;
    text-transform:uppercase;
    margin-bottom:13%;
    font-family: "gotham bold";
    font-weight:bolder;
    position:relative;
    color:black;
    display:inline-block;
    text-align: left;
    transform: translate(55px);
}

.texto h1::before{
    content: "";
    width: 98%;
    height: 69%;
    position: absolute;
    transform: rotate(3deg);
    top: -1px;
    left: -9px;
    background-color: white;
    z-index: -3;
}

.texto h1::after{
    content: "";
    width: 108%;
    height: 61%;
    position: absolute;
    transform: rotate(-1deg);
    top: 40px;
    left: 33px;
    background-color: #da728a;
    z-index: -4;
}

.resultado__texto::after{
    content: "";
    position: absolute;
    top: -12%;
    left: 9%;
    width: 78%;
    transform: rotate(-9deg) skew(-9deg, 1deg) translate(14px, 0px);
    height: 117%;
    background-color: #da728a;
    z-index: -2;
}

.resultado__texto::before{
    content: "";
    position: absolute;
    top: -4%;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    transform: skew(-8deg) rotate(-6deg);
    background-color: white;
    z-index: -1;
}

.resultado__texto p{
    font-size:1.1em;
    font-family: 'gotham light', sans-serif;
    line-height:1.2;

}

.resultado{
    position:relative;
    width:100%;
    height:100%;
}

.resultado img{
    position:relative;
    top:10%;
    left:10%;
    z-index:-1;
}

.resultado h1{
    font-size:2em;
}

.resultado h3{
    font-size:2em;
    display: inline-block;
    position:absolute;
    top:50%;
    left:50%;
}

.form-section{
    text-align: center;
}

.form-section h2{
    font-size:2.2em;
    position:relative;
    text-transform:uppercase;
    margin-bottom:1.5em;
    display: inline-block;
    background-color:white;
    color:black;
    padding:10px 15px;
    font-family: 'Questrial', sans-serif;
    font-weight:bolder;
}

.form-section p{
    width:80%;
    line-height:1.2;
    margin:0 auto;
    font-weight:100;
    text-align:justify;
}

.form-section h2::after{
    content: "";
    position: absolute;
    top: -1%;
    left: 5%;
    transform: rotate(-5deg);
    display: inline-block;
    width: 91%;
    height: 108%;
    background-color: #da728a;
    z-index: -1;

}

.form{
    margin:0 auto;
    margin-top:50px;
    margin-bottom:50px;
    height:270px;
    width: 80%;
    background-color:white;
    position:relative;
}

.form::before{
    content:"";
    background-color:#da728a;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    transform:rotate(-9deg);
}

input[type="text"]{
    width:80%;
    height:30px;
    display:block;
    margin:0 auto;
    border:1px solid black;
    font-size:1.1em;
    padding:5px;
    box-sizing:border-box;
}

input[type="email"]{
    width:80%;
    height:30px;
    display:block;
    margin:0 auto;
    border:1px solid black;
    font-size:1.1em;
    padding:5px;
    box-sizing:border-box;
}

input[type="submit"]{
    margin-top:30px;
    border-color:#da728a;
    height:40px;
    width:60%;
    background-color:#da728a;
    color:white;
    text-transform:uppercase;
    font-size:1em;
}

label{
    color:black;
    text-transform:uppercase;
    display:inline-block;
    margin-top:20px;
    margin-bottom:5px;
}

.form p{
    margin-top:7px;
    color:black;
    font-size:.65em;
}
